body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u2 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u6 {
  position:fixed;
  left:0px;
  bottom:0px;
}
#u6_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:7px;
  width:320px;
  height:64px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u8 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:7px;
  width:64px;
  height:64px;
  font-size:11px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u10 {
  position:absolute;
  left:2px;
  top:42px;
  width:60px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:192px;
  top:7px;
  width:64px;
  height:64px;
  font-size:11px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u12 {
  position:absolute;
  left:2px;
  top:42px;
  width:60px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:256px;
  top:7px;
  width:64px;
  height:64px;
  font-size:11px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u14 {
  position:absolute;
  left:2px;
  top:42px;
  width:60px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:64px;
  top:7px;
  width:64px;
  height:64px;
  font-size:11px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u16 {
  position:absolute;
  left:2px;
  top:42px;
  width:60px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:125px;
  top:0px;
  width:70px;
  height:70px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u18 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:276px;
  top:20px;
  width:24px;
  height:24px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:212px;
  top:20px;
  width:24px;
  height:24px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:20px;
  top:20px;
  width:24px;
  height:24px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:84px;
  top:20px;
  width:24px;
  height:24px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u6_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u6_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u6_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6_state4 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u6_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:620px;
  top:250px;
  width:50px;
  height:50px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1.a {
}
#u3.a {
}
#u5.a {
  position:absolute;
  left:0px;
  top:409px;
  width:320px;
  height:71px;
}
#u6.a {
  position:fixed;
  left:0px;
  bottom:0px;
  width:320px;
  height:71px;
}
#u7.a {
}
#u9.a {
}
#u11.a {
}
#u13.a {
}
#u15.a {
}
#u17.a {
}
#u19.a {
}
#u21.a {
}
#u23.a {
}
#u25.a {
}
#u27.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.b {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:480px;
}
#u1.b {
  width:480px;
  height:50px;
}
#u1_img.b {
  width:480px;
  height:50px;
}
#u2.b {
  top:17px;
  width:476px;
}
#u3.b {
  width:480px;
}
#u3_img.b {
  width:480px;
}
#u4.b {
  width:476px;
}
#u5.b {
  position:absolute;
  left:0px;
  top:409px;
  width:320px;
  height:71px;
}
#u6.b {
  position:fixed;
  left:0px;
  bottom:0px;
  width:320px;
  height:71px;
}
#u7.b {
}
#u9.b {
}
#u11.b {
}
#u13.b {
}
#u15.b {
}
#u17.b {
}
#u19.b {
}
#u21.b {
}
#u23.b {
}
#u25.b {
}
#u27.b {
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.c {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:480px;
}
#u1.c {
  width:480px;
  height:50px;
}
#u1_img.c {
  width:480px;
  height:50px;
}
#u2.c {
  top:17px;
  width:476px;
}
#u3.c {
  width:480px;
}
#u3_img.c {
  width:480px;
}
#u4.c {
  width:476px;
}
#u5.c {
  position:absolute;
  left:0px;
  top:409px;
  width:320px;
  height:71px;
}
#u6.c {
  position:fixed;
  left:0px;
  bottom:0px;
  width:320px;
  height:71px;
}
#u7.c {
}
#u9.c {
}
#u11.c {
}
#u13.c {
}
#u15.c {
}
#u17.c {
}
#u19.c {
}
#u21.c {
}
#u23.c {
}
#u25.c {
}
#u27.c {
}
body.d {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.d {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:480px;
}
#u1.d {
  width:480px;
  height:50px;
}
#u1_img.d {
  width:480px;
  height:50px;
}
#u2.d {
  top:17px;
  width:476px;
}
#u3.d {
  width:480px;
}
#u3_img.d {
  width:480px;
}
#u4.d {
  width:476px;
}
#u5.d {
  position:absolute;
  left:0px;
  top:409px;
  width:320px;
  height:71px;
}
#u6.d {
  position:fixed;
  left:0px;
  bottom:0px;
  width:320px;
  height:71px;
}
#u7.d {
}
#u9.d {
}
#u11.d {
}
#u13.d {
}
#u15.d {
}
#u17.d {
}
#u19.d {
}
#u21.d {
}
#u23.d {
}
#u25.d {
}
#u27.d {
}
