body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u3 {
  position:fixed;
  left:0px;
  bottom:0px;
}
#u3_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:0px;
  top:7px;
  width:320px;
  height:64px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u5 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:7px;
  width:64px;
  height:64px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u7 {
  position:absolute;
  left:2px;
  top:16px;
  width:60px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:192px;
  top:7px;
  width:64px;
  height:64px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u9 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:256px;
  top:7px;
  width:64px;
  height:64px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u11 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:64px;
  top:7px;
  width:64px;
  height:64px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u13 {
  position:absolute;
  left:2px;
  top:16px;
  width:60px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:125px;
  top:0px;
  width:70px;
  height:70px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u15 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:50px;
  width:320px;
  height:360px;
  overflow:hidden;
}
#u16_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:360px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:40px;
  top:256px;
  width:240px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:24px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:40px;
  top:40px;
  width:240px;
  height:160px;
  font-size:28px;
  color:#4F8AAE;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:160px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:10px;
  top:36px;
  width:24px;
  height:57px;
  font-size:48px;
  color:#E4E4E4;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:57px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:286px;
  top:201px;
  width:24px;
  height:57px;
  font-size:48px;
  color:#E4E4E4;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:57px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u16_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:360px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:40px;
  top:226px;
  width:240px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:24px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:40px;
  top:40px;
  width:240px;
  height:160px;
  font-size:28px;
  color:#4F8AAE;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:160px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:10px;
  top:36px;
  width:24px;
  height:57px;
  font-size:48px;
  color:#E4E4E4;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:57px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:286px;
  top:170px;
  width:24px;
  height:57px;
  font-size:48px;
  color:#E4E4E4;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:57px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u16_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:360px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u33 {
  position:absolute;
  left:40px;
  top:286px;
  width:240px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:24px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:40px;
  top:40px;
  width:240px;
  height:160px;
  font-size:28px;
  color:#4F8AAE;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:160px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:10px;
  top:36px;
  width:24px;
  height:57px;
  font-size:48px;
  color:#E4E4E4;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:57px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:286px;
  top:234px;
  width:24px;
  height:57px;
  font-size:48px;
  color:#E4E4E4;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:57px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u16_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:360px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41 {
  position:absolute;
  left:40px;
  top:266px;
  width:240px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:24px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:40px;
  top:40px;
  width:240px;
  height:160px;
  font-size:28px;
  color:#4F8AAE;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:160px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:10px;
  top:36px;
  width:24px;
  height:57px;
  font-size:48px;
  color:#E4E4E4;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:57px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:286px;
  top:136px;
  width:24px;
  height:57px;
  font-size:48px;
  color:#E4E4E4;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:57px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u51 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u52 {
  position:fixed;
  left:0px;
  bottom:0px;
}
#u52_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u52_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u53 {
  position:absolute;
  left:0px;
  top:7px;
  width:320px;
  height:64px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u54 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:7px;
  width:64px;
  height:64px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u56 {
  position:absolute;
  left:2px;
  top:16px;
  width:60px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:192px;
  top:7px;
  width:64px;
  height:64px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u58 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:256px;
  top:7px;
  width:64px;
  height:64px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u60 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:64px;
  top:7px;
  width:64px;
  height:64px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u62 {
  position:absolute;
  left:2px;
  top:16px;
  width:60px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:125px;
  top:0px;
  width:70px;
  height:70px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u64 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:40px;
  top:360px;
  width:200px;
  height:22px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1.a {
}
#u3.a {
  position:fixed;
  left:0px;
  bottom:0px;
  width:320px;
  height:71px;
}
#u4.a {
}
#u6.a {
}
#u8.a {
}
#u10.a {
}
#u12.a {
}
#u14.a {
}
#u16.a {
  position:absolute;
  left:0px;
  top:50px;
  width:320px;
  height:360px;
}
#u17.a {
}
#u19.a {
}
#u21.a {
}
#u23.a {
}
#u25.a {
}
#u27.a {
}
#u29.a {
}
#u31.a {
}
#u33.a {
}
#u35.a {
}
#u37.a {
}
#u39.a {
}
#u41.a {
}
#u43.a {
}
#u45.a {
}
#u47.a {
}
#u16_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u16_state1.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u16_state2.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u16_state3.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u49.a {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u50.a {
}
#u52.a {
  position:fixed;
  left:0px;
  bottom:0px;
  width:320px;
  height:71px;
}
#u53.a {
}
#u55.a {
}
#u57.a {
}
#u59.a {
}
#u61.a {
}
#u63.a {
}
#u65.a {
  position:absolute;
  left:40px;
  top:360px;
  width:200px;
  height:22px;
}
#u65_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.b {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:480px;
}
#u1.b {
  width:480px;
}
#u1_img.b {
  width:480px;
}
#u2.b {
  width:476px;
}
#u3.b {
  position:fixed;
  left:0px;
  bottom:0px;
  width:320px;
  height:71px;
}
#u4.b {
}
#u6.b {
}
#u8.b {
}
#u10.b {
}
#u12.b {
}
#u14.b {
}
#u16.b {
  position:absolute;
  left:0px;
  top:50px;
  width:320px;
  height:360px;
}
#u17.b {
}
#u19.b {
}
#u21.b {
}
#u23.b {
}
#u25.b {
}
#u27.b {
}
#u29.b {
}
#u31.b {
}
#u33.b {
}
#u35.b {
}
#u37.b {
}
#u39.b {
}
#u41.b {
}
#u43.b {
}
#u45.b {
}
#u47.b {
}
#u16_state0.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u16_state1.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u16_state2.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u16_state3.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u49.b {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:480px;
}
#u50.b {
  width:480px;
}
#u50_img.b {
  width:480px;
}
#u51.b {
  width:476px;
}
#u52.b {
  position:fixed;
  left:0px;
  bottom:0px;
  width:320px;
  height:71px;
}
#u53.b {
}
#u55.b {
}
#u57.b {
}
#u59.b {
}
#u61.b {
}
#u63.b {
}
#u65.b {
  position:absolute;
  left:40px;
  top:360px;
  width:200px;
  height:22px;
}
#u65_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.c {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:480px;
}
#u1.c {
  width:480px;
}
#u1_img.c {
  width:480px;
}
#u2.c {
  width:476px;
}
#u3.c {
  position:fixed;
  left:0px;
  bottom:0px;
  width:320px;
  height:71px;
}
#u4.c {
}
#u6.c {
}
#u8.c {
}
#u10.c {
}
#u12.c {
}
#u14.c {
}
#u16.c {
  position:absolute;
  left:0px;
  top:50px;
  width:320px;
  height:360px;
}
#u17.c {
}
#u19.c {
}
#u21.c {
}
#u23.c {
}
#u25.c {
}
#u27.c {
}
#u29.c {
}
#u31.c {
}
#u33.c {
}
#u35.c {
}
#u37.c {
}
#u39.c {
}
#u41.c {
}
#u43.c {
}
#u45.c {
}
#u47.c {
}
#u16_state0.c {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u16_state1.c {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u16_state2.c {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u16_state3.c {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u49.c {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:480px;
}
#u50.c {
  width:480px;
}
#u50_img.c {
  width:480px;
}
#u51.c {
  width:476px;
}
#u52.c {
  position:fixed;
  left:0px;
  bottom:0px;
  width:320px;
  height:71px;
}
#u53.c {
}
#u55.c {
}
#u57.c {
}
#u59.c {
}
#u61.c {
}
#u63.c {
}
#u65.c {
  position:absolute;
  left:40px;
  top:360px;
  width:200px;
  height:22px;
}
#u65_input.c {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
body.d {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.d {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:480px;
}
#u1.d {
  width:480px;
}
#u1_img.d {
  width:480px;
}
#u2.d {
  width:476px;
}
#u3.d {
  position:fixed;
  left:0px;
  bottom:0px;
  width:320px;
  height:71px;
}
#u4.d {
}
#u6.d {
}
#u8.d {
}
#u10.d {
}
#u12.d {
}
#u14.d {
}
#u16.d {
  position:absolute;
  left:0px;
  top:50px;
  width:320px;
  height:360px;
}
#u17.d {
}
#u19.d {
}
#u21.d {
}
#u23.d {
}
#u25.d {
}
#u27.d {
}
#u29.d {
}
#u31.d {
}
#u33.d {
}
#u35.d {
}
#u37.d {
}
#u39.d {
}
#u41.d {
}
#u43.d {
}
#u45.d {
}
#u47.d {
}
#u16_state0.d {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u16_state1.d {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u16_state2.d {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u16_state3.d {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u49.d {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:480px;
}
#u50.d {
  width:480px;
}
#u50_img.d {
  width:480px;
}
#u51.d {
  width:476px;
}
#u52.d {
  position:fixed;
  left:0px;
  bottom:0px;
  width:320px;
  height:71px;
}
#u53.d {
}
#u55.d {
}
#u57.d {
}
#u59.d {
}
#u61.d {
}
#u63.d {
}
#u65.d {
  position:absolute;
  left:40px;
  top:360px;
  width:200px;
  height:22px;
}
#u65_input.d {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
